//FONTS
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans');

//STYLES
@import "pages/templates/fuel/styles";
@import "pages/templates/driver-salary/styles";
@import "pages/templates/daily-helper/styles";


.mb-1 {
  margin-bottom: 10px !important;
}

.mb-2 {
  margin-bottom: 20px !important;
}

.mb-3 {
  margin-bottom: 30px !important;
}

.row {
  display: flex;
}

.col {
  padding-left: 2px;
  padding-right: 2px;
  width: 50%;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.text-bold {
  font-weight: bold !important;
}

.text-bolder {
  font-weight: bolder !important;
}


.font-12 {
  font-size: 12px !important;
}

.font-14 {
  font-size: 14px !important;
}

.font-16 {
  font-size: 16px !important;
}

.font-18 {
  font-size: 18px !important;
}

.border-bottom {
  border-bottom: 2px solid #000 !important;
}
